.ft_bg{
    background: url(../img/footer_repeat.png) repeat-x;
    padding-top: 10px;
    margin-top: 20px;
}
#footer hr{
     background: #f2f2f2; border: none; height: 1px;
     margin: 20px 0;
}
#footer a{
    color: #888;
}
/*底部的横跨的背景图，灰色的 */
#footer{
    background: #fff;
}

#f_top .f_t_link{
    width: 1065px;
    height:55px;
    background:url(../img/service.png) no-repeat;
    margin: 20px auto;
}

/* 新手说明*/
#f_state{
    width: 1110px;
    margin:10px auto;
    padding-left: 40px;
}
#f_state dl{
    float: left;
    width: 110px;
    margin-right: 20px;
    padding-bottom:5px;
    height:127px;
    line-height: 26px;
    border-right:1px dashed #dcdcdc;
}
#f_state dt{
    font-size: 14px;
}

/*APP图标*/
#f_state .f_app,#f_state .f_phone{
    width: 250PX;
    margin: 0 10px;
}
.f_app .f_app_pic{
    width: 219px;
    height: 112px;
    background:url(../img/head.png) no-repeat -299px -127px;
}
.f_phone{
    padding:0 5px;
    border-right: none;
}
.f_phone .f_phone_pic{
    width: 233px;
    height: 121px;
    background:url(../img/head.png) no-repeat 0 -653px;
}
/*新手说明结束*/
/*底部的top结束 */

/*底部的尾部 */
/* 第一部分友情连接 */
#friend_link{
    width: 1140px;
    margin: 10px auto 20px;
    position: relative;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 0 15px;
}
/*友情连接的打开和关闭的按钮 */
#up_btn,#down_btn{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 0;
}
#up_btn{
    background:url(../img/head.png) no-repeat -10px -612px ;
}
#down_btn{
    background:url(../img/head.png) no-repeat 10px -612px ;
    display: none;
}
/*友情连接的导航*/
#f_l_nav{
    width: 1110px;
    height:30px;
    overflow: hidden;
}
#f_l_nav li{
    float: left;
    height: 26px;
    line-height: 25px;
    margin: 0 10px;
}
/*友情链接结束 */
/*关于我们 */
#about_us{
    width:300px;
    margin: 0 auto;
    color: #555;
}
#about_us li{
    float: left;
    height: 22px;
    line-height: 22px;
}
#about_us li::after{
    content: "|";
}
#about_us li:last-child:after{
    content: "";
}
#about_us a{
    margin: 0 10px;
    color: #555;
}

/*网站备案说明 */
/*备案说明 */
#footer_beian {
    width:800px;
    margin:15px auto;
}
#footer_beian img{
    width: 120px;
    height: 45px;
    margin: 0 10px;
}
#footer_beian .last_img img{
    width:32px;
}
/*网站说明 */
#footer_info{
    text-align: center;
    color: #555;
    line-height: 18px;
}
#footer_info a{
    color: #555;
}
#footer_info p{
    margin-bottom: 5px;
}