#banner {
  height: 445px;
  background: pink; }

#content {
  padding-top: 35px; }

#content a {
  display: block;
  color: #333; }

#content li {
  float: left; }

.box_ttile {
  height: 30px; }

.box_ttile h3 {
  display: block;
  width: 229px;
  height: 27px; }

#everday_sha {
  margin: 10px 0 20px 0; }
  #everday_sha .box_ttile h3 {
    background: url(../img/head.png) no-repeat 0px -344px; }

.miaosha_nav {
  height: 428px;
  background: #fcda4f url(../img/content/1444984132628305427.png) no-repeat bottom; }
  .miaosha_nav .nav_left {
    width: 309px;
    height: 428px;
    background: pink; }
  .miaosha_nav .nav_right {
    width: 891px;
    text-align: center;
    padding-top: 10px; }
    .miaosha_nav .nav_right li {
      float: left;
      width: 210px;
      height: 190px;
      margin: 0 5px;
      list-style: none;
      text-align: center;
      border: 1px solid pink; }

#cxyh {
  margin: 10px 0 20px 0; }
  #cxyh .box_ttile h3 {
    background: url(../img/head.png) no-repeat 0px -379px; }
  #cxyh .box_ttile a {
    width: 80px;
    height: 15px;
    background: url(../img/head.png) no-repeat 0 -447px; }
  #cxyh .cx_nav {
    background: #fff; }
    #cxyh .cx_nav ul li {
      height: 289px;
      width: 299px; }

#rmtj {
  margin: 10px 0 20px 0; }
  #rmtj .box_ttile h3 {
    background: url(../img/head.png) no-repeat 0 -412px; }
  #rmtj .rm_nav {
    background: #fff; }
    #rmtj .rm_nav li {
      height: 289px;
      width: 299px; }

.bg_banner {
  margin: 10px 0 20px 0; }
  .bg_banner img {
    float: left;
    width: 399px;
    height: 150px; }

.gg_banner {
  height: 90px; }

#cookie_page {
  margin: 10px 0 20px 0; }
  #cookie_page .box_ttile {
    height: 36px;
    line-height: 36px; }
    #cookie_page .box_ttile h3 {
      font-size: 22px;
      font-weight: 700; }
    #cookie_page .box_ttile a {
      margin-left: 10px;
      padding: 3px 6px; }
  #cookie_page .cookie_nav {
    background: #fff; }
    #cookie_page .cookie_nav img {
      width: 240px;
      height: 430px; }

#meet_page {
  margin: 10px 0 20px 0; }
  #meet_page .box_ttile {
    height: 36px;
    line-height: 36px; }
    #meet_page .box_ttile h3 {
      font-size: 22px;
      font-weight: 700; }
    #meet_page .box_ttile a {
      margin-left: 10px;
      padding: 3px 6px; }
  #meet_page .meet_nav {
    background: #fff; }
    #meet_page .meet_nav img {
      width: 240px;
      height: 430px; }

#candy_page {
  margin: 10px 0 20px 0; }
  #candy_page .box_ttile {
    height: 36px;
    line-height: 36px; }
    #candy_page .box_ttile h3 {
      font-size: 22px;
      font-weight: 700; }
    #candy_page .box_ttile a {
      margin-left: 10px;
      padding: 3px 6px; }
  #candy_page .candy_nav {
    background: #fff; }
    #candy_page .candy_nav img {
      width: 240px;
      height: 430px; }

#pptj {
  margin: 10px 0 20px 0; }
  #pptj .box_ttile {
    height: 36px;
    line-height: 36px; }
    #pptj .box_ttile h3 {
      font-size: 22px;
      font-weight: 700; }
  #pptj ul {
    background: #fff; }
    #pptj ul li {
      width: 132px;
      height: 80px;
      text-align: center;
      border: 1px #ccc solid; }

/*# sourceMappingURL=index1.css.map */
